<!DOCTYPE html>
{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'fonts.css' %}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a href="/">Gift Shopping</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li><a href="/" accesskey="1" title="Homepage">Homepage</a></li>
			<li><a href="/gifts/view_gifts/" accesskey="2" title="Gifts">Gifts</a></li>
			{% if user.is_authenticated %}
				<li><a href="/gifts/view_buckets/" accesskey="3" title="Buckets">My Buckets</a></li>
				<li><a href="/logout/" accesskey="4" title="Logout">Logout</a></li>
			{% else %}
				<li><a href="/login/" accesskey="5" title="Login">Login</a></li>
				<li><a href="/signup/" accesskey="6" title="Signup">Signup</a></li>
			{% endif %}
		</ul>
	</div>
</div>
<div id="page">
	<div class="container">
		<div class="title">

				<h2>{% block header %}Header{% endblock header %}</h2>

		</div>
		{% block content %}
			{% block box_A %}
			<div class="boxA">
				<div class="box margin-btm">
					<img src="{% static 'images/pic01.jpg' %}" width="320" height="180" alt="" />
					<div class="details">
						<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
					</div>
					<a href="#" class="button">More Details</a>
				</div>
			</div>
			{% endblock box_A %}
			{% block box_B %}
			<div class="boxB">
				<div class="box">
					<img src="{% static 'images/pic03.jpg' %}" width="320" height="280" alt="" />
					<div class="details">
						<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
					</div>
					<a href="#" class="button">More Details</a>
				</div>
			</div>
			{% endblock box_B %}
			{% block box_C %}
			<div class="boxC">
				<div class="box">
					<img src="images/pic04.jpg" width="320" height="200" alt="" />
					<div class="details">
						<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
					</div>
					<a href="#" class="button">More Details</a>
				</div>
			</div>
			{% endblock box_C %}
			{% endblock content %}
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; <a>Solomia Tokar.</a> All rights reserved.</p>
</div>
</body>
</html>
