<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>


    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link  rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
           href="../public/css/bootstrap.min.css"/>


    <link  rel="stylesheet" th:href="@{/css/signin.css}"
           href="../public/css/signin.css"/>


</head>
<body>

<div class="container">

    <form class="form-signin"  action="/login" method="post">


        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Email address</label>
        <input  name="username" type="email" id="username" class="form-control"  required="required" autofocus="autofocus"/>

        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="required"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <span></span>
       <a href='/register'>
        <button class="btn btn-lg btn-primary btn-block" type="button">Register</button>
       </a>
    </form>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../public/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>